<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.mapper.UserloginMarkMapper" >
  <resultMap id="BaseResultMap" type="com.blog.pojo.Userloginmark" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="loginTime" property="logintime" jdbcType="VARCHAR" />
    <result column="loginIP" property="loginip" jdbcType="VARCHAR" />
    <result column="action" property="action" jdbcType="VARCHAR" />
  </resultMap>


  <sql id="Base_Column_List" >
    id, userId, loginTime, loginIP, action
  </sql>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from userloginmark
        where userId = #{userId,jdbcType=BIGINT}
    </select>


    <select id="selectCountByUserId" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select count(*)
    from userloginmark
    where userId = #{userId,jdbcType=INTEGER}
  </select>

    <select id="selectRencent" resultMap="BaseResultMap" parameterType="java.lang.Integer"  >
        select
        <include refid="Base_Column_List" />
        from userloginmark
        where userId = #{userId,jdbcType=INTEGER}
        ORDER BY id DESC
        LIMIT 2
    </select>


  <insert id="insert" parameterType="com.blog.pojo.Userloginmark" >
    insert into userloginmark (id, userId, loginTime, 
      loginIP, action)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{logintime,jdbcType=VARCHAR}, 
      #{loginip,jdbcType=VARCHAR}, #{action,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.blog.pojo.Userloginmark" >
    insert into userloginmark
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="logintime != null" >
        loginTime,
      </if>
      <if test="loginip != null" >
        loginIP,
      </if>
      <if test="action != null" >
        action,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="logintime != null" >
        #{logintime,jdbcType=VARCHAR},
      </if>
      <if test="loginip != null" >
        #{loginip,jdbcType=VARCHAR},
      </if>
      <if test="action != null" >
        #{action,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>



  <update id="updateByPrimaryKeySelective" parameterType="com.blog.pojo.Userloginmark" >
    update userloginmark
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="logintime != null" >
        loginTime = #{logintime,jdbcType=VARCHAR},
      </if>
      <if test="loginip != null" >
        loginIP = #{loginip,jdbcType=VARCHAR},
      </if>
      <if test="action != null" >
        action = #{action,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.blog.pojo.Userloginmark" >
    update userloginmark
    set userId = #{userid,jdbcType=VARCHAR},
      loginTime = #{logintime,jdbcType=VARCHAR},
      loginIP = #{loginip,jdbcType=VARCHAR},
      action = #{action,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>